<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surine.testnewversion">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Radio权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 添加NFC权限 -->
    <uses-permission android:name="Android.permission.NFC" />
    <!-- 声明需要硬件支持nfc -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".FirstActivity"
            android:label="首页"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanActivity"
            android:label="读卡"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerLoginAcivty"/>
        <activity android:name=".BackActivty"/>
        <activity android:name=".BroActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ManagerAcivty"/>
        <activity android:name=".AddNewBookActivity"/>
        <activity android:name="google.google.zxing.activity.CaptureActivity"/>
    </application>

</manifest>